.fondo {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: cursive;
}

.tabla_design{
text-align: center;
align-items: center;
font-family: 'Times New Roman', Times, serif;
background-image: url(./assets/fondo.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;

}

thead{
    color:white;
}



/*
#vertical-tabpanel-0{
    background-image:  url(./assets/fondo.jpg);
        background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}

#vertical-tabpanel-1{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-2{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-3{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-4{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-5{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-6{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-8{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-9{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-10{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}

#vertical-tabpanel-11{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}

#vertical-tabpanel-12{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}

#vertical-tabpanel-13{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}
#vertical-tabpanel-14{
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
}

  
  
  */